{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mecânica - Página Principal</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <header>
        <h1><a href="{% url 'index' %}">Mecânica</a></h1>
        <form method="GET" action="{% url 'cliente-list' %}" class="search-form">
            <input type="text" name="search" placeholder="Pesquisar cliente">
            <button type="submit">Search</button>
        </form>
    </header>

    <main>
        <h2>Bem-vindo à Mecânica!</h2>
        <button onclick="window.location.href='{% url 'cliente-create' %}'">Cadastrar Cliente</button>
    </main>
</body>

</html>
